@import "../_settings";

.program {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    font-size: calc(13px + 3vmin);
    color: $secondary-foreground;
}

