@import "../_settings";

.program {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    font-size: calc(13px + 3vmin);
    color: $secondary-foreground;
    margin-bottom: 10px;
}

$transition-duration: .4s;
$transition-timing: cubic-bezier(0.37, 0, 0.63, 1);

.hide {
    opacity: 0;
    transition: $transition-duration $transition-timing opacity,
        0.001s ($transition-duration - 0.001s) linear visibility;
    visibility: hidden;
}

.show {
    opacity: 1;
    transition: $transition-duration $transition-timing opacity;
    visibility: visible;
}
